<section>
  <h1><%= title %></h1>
  <form action="/logout" method="POST" novalidate>
    <p>Are you sure you want to log out?</p>
    <button class="submit" type="submit">Log Out</button>

    <div class="notice">Back to homepage <a href="/" class="link">Home</a></div>
  </form>
</section>
