<section>
    <h1><%= title %></h1>
    <form action="/signup" method="POST" novalidate>
        <div class="input-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required minlength="3" maxlength="50">
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required minlength="6" maxlength="255">
        </div>
        <div class="input-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword" required minlength="6" maxlength="255">
        </div>

        <% if (errors) { %>
            <ul>
                <% errors.forEach(function(error) { %>
                    <li class="error"><%= error.msg %></li>
                <% }); %>
            </ul>
        <% } %>

        <button class="submit" type="submit">Sign Up</button>
        
        <div class="notice">
            Already have an account? <a href="/login">Log In</a>
        </div>
    </form>
</section>
