<section>
  <h1><%= title %></h1>
  <form action="/files/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="image" />
    <button type="submit">Upload</button>
  </form>
</section>
